<?xml version="1.0" encoding="iso-8859-1"?>
<!--
  This project was exported via the project generator.  More information https://github.com/0xc0170/project_generator
-->
<workspace>
  <project>
    <path>$WS_DIR$\{{name}}.ewp</path>
  </project>
  <batchBuild/>
</workspace>
