<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  This project was exported via the project generator.  More information https://github.com/project-generator/project_generator
-->
<Project version="2G - 1.7.5" name="{{Project['@name']}}">
  <Target name="{{Project['@name']}}" isCurrent="1">
    <Device manufacturerId="{{Project['Target']['Device']['@manufacturerId']}}" manufacturerName="{{Project['Target']['Device']['@manufacturerName']}}" chipId="{{Project['Target']['Device']['@chipId']}}" chipName="{{Project['Target']['Device']['@chipName']}}" boardId="" boardName=""/>
    <BuildOption>
      <Compile>
        <Option name="OptimizationLevel" value="{{Project['Target']['BuildOption']['Compile']['Option'][0]['@value']}}"/>
        <Option name="UseFPU" value="{{Project['Target']['BuildOption']['Compile']['Option'][1]['@value']}}"/>
        <Option name="UserEditCompiler" value="{{Project['Target']['BuildOption']['Compile']['Option'][2]['@value']}}"/>
        <Includepaths>
          {% for path in Project['Target']['BuildOption']['Compile']['Includepaths']['Includepath'] %} <Includepath path="{{path['@path']}}"/>{% endfor %}
        </Includepaths>
        <DefinedSymbols>
          {% for s in Project['Target']['BuildOption']['Compile']['DefinedSymbols']['Define'] %} <Define name="{{s['@name']}}"/>{% endfor %}
        </DefinedSymbols>
      </Compile>
      <Link useDefault="{{Project['Target']['BuildOption']['Link']['@useDefault']}}">
        <Option name="DiscardUnusedSection" value="{{Project['Target']['BuildOption']['Link']['Option'][0]['@value']}}"/>
        <Option name="UserEditLinkder" value="{{Project['Target']['BuildOption']['Link']['Option'][1]['@value']}}"/>
        <Option name="UseMemoryLayout" value="{{Project['Target']['BuildOption']['Link']['Option'][2]['@value']}}"/>
        <Option name="LTO" value="{{Project['Target']['BuildOption']['Link']['Option'][3]['@value']}}"/>
        <Option name="IsNewStartupCode" value="{{Project['Target']['BuildOption']['Link']['Option'][4]['@value']}}"/>
        <Option name="Library" value="{{Project['Target']['BuildOption']['Link']['Option'][5]['@value']}}"/>
        <Option name="nostartfiles" value="{{Project['Target']['BuildOption']['Link']['Option'][6]['@value']}}"/>
        <Option name="Printf" value="{{Project['Target']['BuildOption']['Link']['Option'][8]['@value']}}"/>
        <Option name="Scanf" value="{{Project['Target']['BuildOption']['Link']['Option'][9]['@value']}}"/>
        <Option name="UserEditLinker" value=" {{Project['Target']['BuildOption']['Link']['Option'][7]['@value'] }} {% for file in object_files %}
        ${project.path}/{{file}}; {% endfor %} {% for p in library_paths %}-L${project.path}/{{p}}; {% endfor %}"/>
        <LinkedLibraries>
          {% for lib in Project['Target']['BuildOption']['Link']['LinkedLibraries']['Libset'] %}
          <Libset dir="" libs="{{lib['@libs']}}"/>
          {% endfor %}
        </LinkedLibraries>
        <MemoryAreas debugInFlashNotRAM="1">
          <Memory name="IROM1" type="ReadOnly" size="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][0]['size']}}" startValue="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][0]['startValue']}}"/>
          <Memory name="IRAM1" type="ReadWrite" size="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][1]['size']}}" startValue="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][1]['startValue']}}"/>
          <Memory name="IROM2" type="ReadOnly" size="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][2]['size']}}" startValue="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][2]['startValue']}}"/>
          <Memory name="IRAM2" type="ReadWrite" size="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][3]['size']}}" startValue="{{Project['Target']['BuildOption']['Link']['MemoryAreas']['Memory'][3]['startValue']}}"/>
        </MemoryAreas>
        <LocateLinkFile path="{{Project['Target']['BuildOption']['Link']['LocateLinkFile']['@path']}}" type="{{Project['Target']['BuildOption']['Link']['LocateLinkFile']['@type']}}"/>
      </Link>
      <Output>
        <Option name="OutputFileType" value="{{Project['Target']['BuildOption']['Output']['Option'][0]['@value']}}"/>
        <Option name="Path" value="./"/>
        <Option name="Name" value="{{Project['Target']['BuildOption']['Output']['Option'][2]['@value']}}"/>
        <Option name="HEX" value="{{Project['Target']['BuildOption']['Output']['Option'][3]['@value']}}"/>
        <Option name="BIN" value="{{Project['Target']['BuildOption']['Output']['Option'][4]['@value']}}"/>
      </Output>
      <User>
        <UserRun name="Run#1" type="Before" checked="0" value="{{Project['Target']['BuildOption']['User']['UserRun'][0]['@value']}}"/>
        <UserRun name="Run#1" type="After" checked="0" value="{{Project['Target']['BuildOption']['User']['UserRun'][1]['@value']}}"/>
      </User>
    </BuildOption>
    <DebugOption>
      <Option name="org.coocox.codebugger.gdbjtag.core.adapter" value="{{Project['Target']['DebugOption']['Option'][0]['@value']}}"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.debugMode" value="SWD"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.clockDiv" value="1M"/>
      <Option name="org.coocox.codebugger.gdbjtag.corerunToMain" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkgdbserver" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.userDefineGDBScript" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.targetEndianess" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkResetMode" value="Type 0: Normal"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.resetMode" value="SYSRESETREQ"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifSemihost" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifCacheRom" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ipAddress" value="127.0.0.1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.portNumber" value="2009"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.autoDownload" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.verify" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.downloadFuction" value="Erase Effected"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.defaultAlgorithm" value="{{Project['Target']['DebugOption']['defaultAlgorithm']}}"/>
    </DebugOption>
    <ExcludeFile/>
  </Target>
  <Components path="./"/>
  <Files>
    {% for file in Project['Files']['File'] %}
    <File name="{{file['@name']}}" path="{{file['@path']}}" type="{{file['@type']}}"/>
    {% endfor %}
  </Files>
</Project>
