<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  This project was exported via the project generator.  More information https://github.com/project-generator/project_generator
-->
<Project version="2G - 1.7.5" name="{{name}}">
  <Target name="{{name}}" isCurrent="1">
    <Device manufacturerId="{{coide_settings['Target']['Device']['manufacturerId']}}" manufacturerName="{{coide_settings['Target']['Device']['manufacturerName']}}" chipId="{{coide_settings['Target']['Device']['chipId']}}" chipName="{{coide_settings['Target']['Device']['chipName']}}" boardId="" boardName=""/>
    <BuildOption>
      <Compile>
        <Option name="OptimizationLevel" value="{{coide_settings['Target']['BuildOption']['Compile']['OptimizationLevel']}}"/>
        <Option name="UseFPU" value="0"/>
        <Option name="UserEditCompiler" value="{% for flag in coide_settings['Target']['BuildOption']['Compile']['UserEditCompiler'] %}-{{flag}};{% endfor%}"/>
        <Includepaths>
          {% for path in includes %} <Includepath path="{{path}}"/>{% endfor %}
        </Includepaths>
        <DefinedSymbols>
          {% for s in macros %} <Define name="{{s}}"/>{% endfor %}
        </DefinedSymbols>
      </Compile>
      <Link useDefault="0">
        <Option name="DiscardUnusedSection" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['DiscardUnusedSection']['@value']}}"/>
        <Option name="UserEditLinkder" value=""/>
        <Option name="UseMemoryLayout" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['UseMemoryLayout']['@value']}}"/>
        <Option name="LTO" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['LTO']['@value']}}"/>
        <Option name="IsNewStartupCode" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['IsNewStartupCode']['@value']}}"/>
        <Option name="Library" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['Library']['@value']}}"/>
        <Option name="nostartfiles" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['nostartfiles']['@value']}}"/>
        <Option name="Printf" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['Printf']['@value']}}"/>
        <Option name="Scanf" value="{{coide_settings['Target']['BuildOption']['Link']['Option']['Scanf']['@value']}}"/>
        <Option name="UserEditLinker" value=" {{coide_settings['Target']['BuildOption']['Link']['Option']['UserEditLinker']['@value'] }} {% for file in object_files %}
        ${project.path}/{{file}}; {% endfor %} {% for p in library_paths %}-L${project.path}/{{p}}; {% endfor %}"/>
        <LinkedLibraries>
          {% for lib in coide_settings['Target']['BuildOption']['Link']['LinkedLibraries']['Libset'] %}
          <Libset dir="" libs="{{lib['@libs']}}"/>
          {% endfor %}
        </LinkedLibraries>
        <MemoryAreas debugInFlashNotRAM="1">
          <Memory name="IROM1" type="ReadOnly" size="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IROM1']['size']}}" startValue="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IROM1']['startValue']}}"/>
          <Memory name="IRAM1" type="ReadWrite" size="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IRAM1']['size']}}" startValue="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IRAM1']['startValue']}}"/>
          <Memory name="IROM2" type="ReadOnly" size="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IROM2']['size']}}" startValue="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IROM2']['startValue']}}"/>
          <Memory name="IRAM2" type="ReadWrite" size="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IRAM2']['size']}}" startValue="{{coide_settings['Target']['BuildOption']['Link']['MemoryAreas']['Memory']['IRAM2']['startValue']}}"/>
        </MemoryAreas>
        <LocateLinkFile path="{{linker_file}}" type="0"/>
      </Link>
      <Output>
        <Option name="OutputFileType" value="{% if output_type == 'exe' %}0{% else %}1{% endif %}"/>
        <Option name="Path" value="./"/>
        <Option name="Name" value="{{name}}"/>
        <Option name="HEX" value="{{coide_settings['Target']['BuildOption']['Output']['HEX']}}"/>
        <Option name="BIN" value="{{coide_settings['Target']['BuildOption']['Output']['BIN']}}"/>
      </Output>
      <User>
        <UserRun name="Run#1" type="Before" checked="0" value="{{coide_settings['Target']['BuildOption']['User']['UserRun']['Run#1']['Before']['value']}}"/>
        <UserRun name="Run#1" type="After" checked="0" value="{{coide_settings['Target']['BuildOption']['User']['UserRun']['Run#1']['After']['value']}}"/>
      </User>
    </BuildOption>
    <DebugOption>
      <Option name="org.coocox.codebugger.gdbjtag.core.adapter" value="{{coide_settings['Target']['DebugOption']['org.coocox.codebugger.gdbjtag.core.adapter']}}"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.debugMode" value="SWD"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.clockDiv" value="1M"/>
      <Option name="org.coocox.codebugger.gdbjtag.corerunToMain" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkgdbserver" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.userDefineGDBScript" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.targetEndianess" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkResetMode" value="Type 0: Normal"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.resetMode" value="SYSRESETREQ"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifSemihost" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifCacheRom" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ipAddress" value="127.0.0.1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.portNumber" value="2009"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.autoDownload" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.verify" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.downloadFuction" value="Erase Effected"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.defaultAlgorithm" value="{{coide_settings['Target']['DebugOption']['defaultAlgorithm']}}"/>
    </DebugOption>
    <ExcludeFile/>
  </Target>
  <Components path="./"/>
  <Files>
    {% for group_name, files in groups.items() %}
    <File name="{{group_name}}" path="" type="2"/>
    {% for file in files %}
    <File name="{{group_name}}/{{file.name}}" path="{{file.path}}" type="{{file.type}}"/>
    {% endfor %}
    {% endfor %}
  </Files>
</Project>
