<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  This project was exported via the project generator.  More information https://github.com/0xc0170/project_generator
-->
<Project version="2G - 1.7.5" name="{{name}}">
  <Target name="{{name}}" isCurrent="1">
    <Device manufacturerId="{{coide_settings['Device']['manufacturerId']}}" manufacturerName="{{coide_settings['Device']['manufacturerName']}}" chipId="{{coide_settings['Device']['chipId']}}" chipName="{{coide_settings['Device']['chipName']}}" boardId="" boardName=""/>
    <BuildOption>
      <Compile>
        <Option name="OptimizationLevel" value="{{coide_settings['Compile']['OptimizationLevel']}}"/>
        <Option name="UseFPU" value="0"/>
        <Option name="UserEditCompiler" value="{% for flag in coide_settings['Compile']['UserEditCompiler'] %}-{{flag}};{% endfor%}"/>
        <Includepaths>
          {% for path in include_paths %} <Includepath path="{{path}}"/>{% endfor %}
        </Includepaths>
        <DefinedSymbols>
          {% for s in macros %} <Define name="{{s}}"/>{% endfor %}
        </DefinedSymbols>
      </Compile>
      <Link useDefault="0">
        <Option name="DiscardUnusedSection" value="{{coide_settings['Link']['DiscardUnusedSection']}}"/>
        <Option name="UserEditLinkder" value=""/>
        <Option name="UseMemoryLayout" value="{{coide_settings['Link']['UseMemoryLayout']}}"/>
        <Option name="LTO" value="coide_settings['Link']['LTO']"/>
        <Option name="IsNewStartupCode" value="{{coide_settings['Link']['IsNewStartupCode']}}"/>
        <Option name="Library" value="Not use C Library"/>
        <Option name="nostartfiles" value="{{coide_settings['Link']['nostartfiles']}}"/>
        <Option name="UserEditLinker" value=" {% for option in coide_settings['Link']['UserEditLinker'] %}
        {{option}}; {% endfor %} {% for file in object_files %}
        ${project.path}/{{file}}; {% endfor %} {% for p in library_paths %}-L${project.path}/{{p}}; {% endfor %}"/>
        <LinkedLibraries>
          {% for lib in coide_settings['Link']['LinkedLibraries'] %}
          <Libset dir="" libs="{{lib}}"/>
          {% endfor %}
        </LinkedLibraries>
        <MemoryAreas debugInFlashNotRAM="1">
          <Memory name="IROM1" type="ReadOnly" size="{{coide_settings['MemoryAreas']['IROM1']['size']}}" startValue="MemoryAreas['IROM1']['startValue']"/>
          <Memory name="IRAM1" type="ReadWrite" size="{{coide_settings['MemoryAreas']['IRAM1']['size']}}" startValue="{{coide_settings['MemoryAreas']['IRAM1']['startValue']}}"/>
          <Memory name="IROM2" type="ReadOnly" size="{{coide_settings['MemoryAreas']['IROM2']['size']}}" startValue="{{coide_settings['MemoryAreas']['IROM2']['startValue']}}"/>
          <Memory name="IRAM2" type="ReadWrite" size="{{coide_settings['MemoryAreas']['IRAM2']['size']}}" startValue="{{coide_settings['MemoryAreas']['IRAM2']['startValue']}}"/>
        </MemoryAreas>
        <LocateLinkFile path="{{linker_file}}" type="0"/>
      </Link>
      <Output>
        <Option name="OutputFileType" value="{% if output_type == 'exe' %}0{% else %}1{% endif %}"/>
        <Option name="Path" value="./"/>
        <Option name="Name" value="{{name}}"/>
        <Option name="HEX" value="{{coide_settings['Output']['HEX']}}"/>
        <Option name="BIN" value="{{coide_settings['Output']['BIN']}}"/>
      </Output>
      <User>
        <UserRun name="Run#1" type="Before" checked="0" value="{{coide_settings['User']['UserRun']['Before']}}"/>
        <UserRun name="Run#1" type="After" checked="0" value="{{coide_settings['User']['UserRun']['After']}}"/>
      </User>
    </BuildOption>
    <DebugOption>
      <Option name="org.coocox.codebugger.gdbjtag.core.adapter" value="CMSIS-DAP"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.debugMode" value="SWD"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.clockDiv" value="1M"/>
      <Option name="org.coocox.codebugger.gdbjtag.corerunToMain" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkgdbserver" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.userDefineGDBScript" value=""/>
      <Option name="org.coocox.codebugger.gdbjtag.core.targetEndianess" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.jlinkResetMode" value="Type 0: Normal"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.resetMode" value="SYSRESETREQ"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifSemihost" value="0"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ifCacheRom" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.ipAddress" value="127.0.0.1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.portNumber" value="2009"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.autoDownload" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.verify" value="1"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.downloadFuction" value="Erase Effected"/>
      <Option name="org.coocox.codebugger.gdbjtag.core.defaultAlgorithm" value="{{coide_settings['DebugOption']['defaultAlgorithm']}}"/>
    </DebugOption>
    <ExcludeFile/>
  </Target>
  <Components path="./"/>
  <Files>
    {% for group_name, files in groups.items() %}
    <File name="{{group_name}}" path="" type="2"/>
    {% for file in files %}
    <File name="{{group_name}}/{{file.name}}" path="{{file.path}}" type="{{file.type}}"/>
    {% endfor %}
    {% endfor %}
  </Files>
</Project>
