<?xml version="1.0" encoding="iso-8859-1"?>
<!--
  This project was exported via the project generator.  More information https://github.com/0xc0170/project_generator
-->
<project>
  <fileVersion>2</fileVersion>
  <configuration>
    <name>{{name}}</name>
    <toolchain>
      <name>ARM</name>
    </toolchain>
    <debug>1</debug>
    <settings>
      <name>General</name>
      <archiveVersion>3</archiveVersion>
      <data>
        <version>22</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>ExePath</name>
          <state>$PROJ_DIR$\build\Exe</state>
        </option>
        <option>
          <name>ObjPath</name>
          <state>$PROJ_DIR$\build\Obj</state>
        </option>
        <option>
          <name>ListPath</name>
          <state>$PROJ_DIR$\build\List</state>
        </option>
        <option>
          <name>Variant</name>
          <version>{{iar_settings['Variant']['version']}}</version>
          <state>{{iar_settings['Variant']['state']}}</state>
        </option>
        <option>
          <name>GEndianMode</name>
          <state>{{iar_settings['GEndianMode']['state']}}</state>
        </option>
        <option>
          <name>Input variant</name>
          <version>{{iar_settings['GEndianMode']['version']}}</version>
          <state>{{iar_settings['GEndianMode']['state']}}</state>
        </option>
        <option>
          <name>Input description</name>
          <state>Full formatting.</state>
        </option>
        <option>
          <name>Output variant</name>
          <version>{{iar_settings['Output variant']['version']}}</version>
          <state>{{iar_settings['Output variant']['state']}}</state>
        </option>
        <option>
          <name>Output description</name>
          <state>Full formatting.</state>
        </option>
        <option>
          <name>GOutputBinary</name>
          <state>{% if output_type == 'exe' %}0{% else %}1{% endif %}</state>
        </option>
        <option>
          <name>FPU</name>
          <version>{{iar_settings['FPU']['version']}}</version>
          <state>{{iar_settings['FPU']['state']}}</state>
        </option>
        <option>
          <name>OGCoreOrChip</name>
          <state>{{iar_settings['OGCoreOrChip']['state']}}</state>
        </option>
        <option>
          <name>GRuntimeLibSelect</name>
          <version>{{iar_settings['GRuntimeLibSelect']['version']}}</version>
          <state>{{iar_settings['GRuntimeLibSelect']['state']}}</state>
        </option>
        <option>
          <name>GRuntimeLibSelectSlave</name>
          <version>{{iar_settings['GRuntimeLibSelectSlave']['version']}}</version>
          <state>{{iar_settings['GRuntimeLibSelectSlave']['state']}}</state>
        </option>
        <option>
          <name>RTDescription</name>
          <state>Use the full configuration of the C/C++ runtime library. Full locale interface, C locale, file descriptor support, multibytes in printf and scanf, and hex floats in strtod.</state>
        </option>
        <option>
          <name>OGProductVersion</name>
          <state>5.10.0.159</state>
        </option>
        <option>
          <name>OGLastSavedByProductVersion</name>
          <state>6.30.6.53380</state>
        </option>
        <option>
          <name>GeneralEnableMisra</name>
          <state>{{iar_settings['GRuntimeLibSelectSlave']['state']}}</state>
        </option>
        <option>
          <name>GeneralMisraVerbose</name>
          <state>{{iar_settings['GeneralMisraVerbose']['state']}}</state>
        </option>
        <option>
          <name>OGChipSelectEditMenu</name>
          <state>{{iar_settings['OGChipSelectEditMenu']['state']}}</state>
        </option>
        <option>
          <name>GenLowLevelInterface</name>
          <state>{{iar_settings['GenLowLevelInterface']['state']}}</state>
        </option>
        <option>
          <name>GEndianModeBE</name>
          <state>{{iar_settings['GEndianModeBE']['state']}}</state>
        </option>
        <option>
          <name>OGBufferedTerminalOutput</name>
          <state>{{iar_settings['OGBufferedTerminalOutput']['state']}}</state>
        </option>
        <option>
          <name>GenStdoutInterface</name>
          <state>{{iar_settings['GenStdoutInterface']['state']}}</state>
        </option>
        <option>
          <name>GeneralMisraRules98</name>
          <version>0</version>
          <state>1000111110110101101110011100111111101110011011000101110111101101100111111111111100110011111001110111001111111111111111111111111</state>
        </option>
        <option>
          <name>GeneralMisraVer</name>
          <state>{{iar_settings['GeneralMisraVer']['state']}}</state>
        </option>
        <option>
          <name>GeneralMisraRules04</name>
          <version>0</version>
          <state>111101110010111111111000110111111111111111111111111110010111101111010101111111111111111111111111101111111011111001111011111011111111111111111</state>
        </option>
        <option>
          <name>RTConfigPath2</name>
          <state>$TOOLKIT_DIR$\INC\c\DLib_Config_Full.h</state>
        </option>
        <option>
          <name>GFPUCoreSlave</name>
          <version>{{iar_settings['GFPUCoreSlave']['version']}}</version>
          <state>{{iar_settings['GFPUCoreSlave']['state']}} </state>
        </option>
        <option>
          <name>GBECoreSlave</name>
          <version>{{iar_settings['GBECoreSlave']['version']}}</version>
          <state>{{iar_settings['GBECoreSlave']['state']}}</state>
        </option>
        <option>
          <name>OGUseCmsis</name>
          <state>{{iar_settings['OGUseCmsis']['state']}}</state>
        </option>
        <option>
          <name>OGUseCmsisDspLib</name>
          <state>{{iar_settings['OGUseCmsisDspLib']['state']}}</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>ICCARM</name>
      <archiveVersion>2</archiveVersion>
      <data>
        <version>28</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>CCDefines</name>
          {% for s in macros %}<state>{{s}}</state>{% endfor %}
        </option>
        <option>
          <name>CCPreprocFile</name>
          <state>{{iar_settings['CCPreprocFile']['state']}}</state>
        </option>
        <option>
          <name>CCPreprocComments</name>
          <state>{{iar_settings['CCPreprocComments']['state']}}</state>
        </option>
        <option>
          <name>CCPreprocLine</name>
          <state>{{iar_settings['CCPreprocLine']['state']}}</state>
        </option>
        <option>
          <name>CCListCFile</name>
          <state>{{iar_settings['CCListCFile']['state']}}</state>
        </option>
        <option>
          <name>CCListCMnemonics</name>
          <state>{{iar_settings['CCListCMnemonics']['state']}}</state>
        </option>
        <option>
          <name>CCListCMessages</name>
          <state>{{iar_settings['CCListCMessages']['state']}}</state>
        </option>
        <option>
          <name>CCListAssFile</name>
          <state>{{iar_settings['CCListAssFile']['state']}}</state>
        </option>
        <option>
          <name>CCListAssSource</name>
          <state>{{iar_settings['CCListAssSource']['state']}}</state>
        </option>
        <option>
          <name>CCEnableRemarks</name>
          <state>{{iar_settings['CCEnableRemarks']['state']}}</state>
        </option>
        <option>
          <name>CCDiagSuppress</name>
          <state>{{iar_settings['CCDiagSuppress']['state']}}</state>
        </option>
        <option>
          <name>CCDiagRemark</name>
          <state>{{iar_settings['CCDiagRemark']['state']}}</state>
        </option>
        <option>
          <name>CCDiagWarning</name>
          <state>{{iar_settings['CCDiagWarning']['state']}}</state>
        </option>
        <option>
          <name>CCDiagError</name>
          <state>{{iar_settings['CCDiagError']['state']}}</state>
        </option>
        <option>
          <name>CCObjPrefix</name>
          <state>{{iar_settings['CCObjPrefix']['state']}}</state>
        </option>
        <option>
          <name>CCAllowList</name>
          <version>1</version>
          <state>1111111</state>
        </option>
        <option>
          <name>CCDebugInfo</name>
          <state>{{iar_settings['CCDebugInfo']['state']}}</state>
        </option>
        <option>
          <name>IEndianMode</name>
          <state>{{iar_settings['IEndianMode']['state']}}</state>
        </option>
        <option>
          <name>IProcessor</name>
          <state>{{iar_settings['IProcessor']['state']}}</state>
        </option>
        <option>
          <name>IExtraOptionsCheck</name>
          <state>{{iar_settings['IExtraOptionsCheck']['state']}}</state>
        </option>
        <option>
          <name>IExtraOptions</name>
          <state>{{iar_settings['IExtraOptions']['state']}}</state>
        </option>
        <option>
          <name>CCLangConformance</name>
          <state>{{iar_settings['CCLangConformance']['state']}}</state>
        </option>
        <option>
          <name>CCSignedPlainChar</name>
          <state>{{iar_settings['CCSignedPlainChar']['state']}}</state>
        </option>
        <option>
          <name>CCRequirePrototypes</name>
          <state>{{iar_settings['CCRequirePrototypes']['state']}}</state>
        </option>
        <option>
          <name>CCMultibyteSupport</name>
          <state>{{iar_settings['CCMultibyteSupport']['state']}}</state>
        </option>
        <option>
          <name>CCDiagWarnAreErr</name>
          <state>{{iar_settings['CCDiagWarnAreErr']['state']}}</state>
        </option>
        <option>
          <name>CCCompilerRuntimeInfo</name>
          <state>{{iar_settings['CCCompilerRuntimeInfo']['state']}}</state>
        </option>
        <option>
          <name>IFpuProcessor</name>
          <state>{{iar_settings['IFpuProcessor']['state']}}</state>
        </option>
        <option>
          <name>OutputFile</name>
          <state>$FILE_BNAME$.o</state>
        </option>
        <option>
          <name>CCLibConfigHeader</name>
          <state>{{iar_settings['CCLibConfigHeader']['state']}}</state>
        </option>
        <option>
          <name>PreInclude</name>
          <state></state>
        </option>
        <option>
          <name>CompilerMisraOverride</name>
          <state>{{iar_settings['CompilerMisraOverride']['state']}}</state>
        </option>
        <option>
          <name>CCIncludePath2</name>
        {% for path in include_paths %}
          <state>{{path}}</state>
        {% endfor %}
        </option>
        <option>
          <name>CCStdIncCheck</name>
          <state>{{iar_settings['CCStdIncCheck']['state']}}</state>
        </option>
        <option>
          <name>CCCodeSection</name>
          <state>{{iar_settings['CCCodeSection']['state']}}</state>
        </option>
        <option>
          <name>IInterwork2</name>
          <state>{{iar_settings['IInterwork2']['state']}}</state>
        </option>
        <option>
          <name>IProcessorMode2</name>
          <state>{{iar_settings['IProcessorMode2']['state']}}</state>
        </option>
        <option>
          <name>CCOptLevel</name>
          <state>{{iar_settings['CCOptLevel']['state']}}</state>
        </option>
        <option>
          <name>CCOptStrategy</name>
          <version>0</version>
          <state>{{iar_settings['CCOptStrategy']['state']}}</state>
        </option>
        <option>
          <name>CCOptLevelSlave</name>
          <state>{{iar_settings['CCOptLevelSlave']['state']}}</state>
        </option>
        <option>
          <name>CompilerMisraRules98</name>
          <version>0</version>
          <state>1000111110110101101110011100111111101110011011000101110111101101100111111111111100110011111001110111001111111111111111111111111</state>
        </option>
        <option>
          <name>CompilerMisraRules04</name>
          <version>0</version>
          <state>111101110010111111111000110111111111111111111111111110010111101111010101111111111111111111111111101111111011111001111011111011111111111111111</state>
        </option>
        <option>
          <name>CCPosIndRopi</name>
          <state>{{iar_settings['CCPosIndRopi']['state']}}</state>
        </option>
        <option>
          <name>CCPosIndRwpi</name>
          <state>{{iar_settings['CCPosIndRwpi']['state']}}</state>
        </option>
        <option>
          <name>CCPosIndNoDynInit</name>
          <state>{{iar_settings['CCPosIndNoDynInit']['state']}}</state>
        </option>
        <option>
          <name>IccLang</name>
          <state>{{iar_settings['IccLang']['state']}}</state>
        </option>
        <option>
          <name>IccCDialect</name>
          <state>{{iar_settings['IccCDialect']['state']}}</state>
        </option>
        <option>
          <name>IccAllowVLA</name>
          <state>{{iar_settings['IccAllowVLA']['state']}}</state>
        </option>
        <option>
          <name>IccCppDialect</name>
          <state>{{iar_settings['IccCppDialect']['state']}}</state>
        </option>
        <option>
          <name>IccExceptions</name>
          <state>{{iar_settings['IccExceptions']['state']}}</state>
        </option>
        <option>
          <name>IccRTTI</name>
          <state>{{iar_settings['IccRTTI']['state']}}</state>
        </option>
        <option>
          <name>IccStaticDestr</name>
          <state>{{iar_settings['IccStaticDestr']['state']}}</state>
        </option>
        <option>
          <name>IccCppInlineSemantics</name>
          <state>{{iar_settings['IccCppInlineSemantics']['state']}}</state>
        </option>
        <option>
          <name>IccCmsis</name>
          <state>{{iar_settings['IccCmsis']['state']}}</state>
        </option>
        <option>
          <name>IccFloatSemantics</name>
          <state>{{iar_settings['IccFloatSemantics']['state']}}</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>AARM</name>
      <archiveVersion>2</archiveVersion>
      <data>
        <version>8</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>AObjPrefix</name>
          <state>{{iar_settings['AObjPrefix']['state']}}</state>
        </option>
        <option>
          <name>AEndian</name>
          <state>{{iar_settings['AEndian']['state']}}</state>
        </option>
        <option>
          <name>ACaseSensitivity</name>
          <state>{{iar_settings['ACaseSensitivity']['state']}}</state>
        </option>
        <option>
          <name>MacroChars</name>
          <version>0</version>
          <state>{{iar_settings['MacroChars']['state']}}</state>
        </option>
        <option>
          <name>AWarnEnable</name>
          <state>{{iar_settings['AWarnEnable']['state']}}</state>
        </option>
        <option>
          <name>AWarnWhat</name>
          <state>{{iar_settings['AWarnWhat']['state']}}</state>
        </option>
        <option>
          <name>AWarnOne</name>
          <state>{{iar_settings['AWarnOne']['state']}}</state>
        </option>
        <option>
          <name>AWarnRange1</name>
          <state>{{iar_settings['AWarnRange1']['state']}}</state>
        </option>
        <option>
          <name>AWarnRange2</name>
          <state>{{iar_settings['AWarnRange2']['state']}}</state>
        </option>
        <option>
          <name>ADebug</name>
          <state>{{iar_settings['ADebug']['state']}}</state>
        </option>
        <option>
          <name>AltRegisterNames</name>
          <state>{{iar_settings['AltRegisterNames']['state']}}</state>
        </option>
        <option>
          <name>ADefines</name>
          <state>{{iar_settings['ADefines']['state']}}</state>
        </option>
        <option>
          <name>AList</name>
          <state>{{iar_settings['AList']['state']}}</state>
        </option>
        <option>
          <name>AListHeader</name>
          <state>{{iar_settings['AListHeader']['state']}}</state>
        </option>
        <option>
          <name>AListing</name>
          <state>{{iar_settings['AListing']['state']}}</state>
        </option>
        <option>
          <name>Includes</name>
          <state>0</state>
        </option>
        <option>
          <name>MacDefs</name>
          <state>0</state>
        </option>
        <option>
          <name>MacExps</name>
          <state>1</state>
        </option>
        <option>
          <name>MacExec</name>
          <state>0</state>
        </option>
        <option>
          <name>OnlyAssed</name>
          <state>0</state>
        </option>
        <option>
          <name>MultiLine</name>
          <state>0</state>
        </option>
        <option>
          <name>PageLengthCheck</name>
          <state>0</state>
        </option>
        <option>
          <name>PageLength</name>
          <state>80</state>
        </option>
        <option>
          <name>TabSpacing</name>
          <state>4</state>
        </option>
        <option>
          <name>AXRef</name>
          <state>{{iar_settings['AXRef']['state']}}</state>
        </option>
        <option>
          <name>AXRefDefines</name>
          <state>{{iar_settings['AXRefDefines']['state']}}</state>
        </option>
        <option>
          <name>AXRefInternal</name>
          <state>{{iar_settings['AXRefInternal']['state']}}</state>
        </option>
        <option>
          <name>AXRefDual</name>
          <state>{{iar_settings['AXRefDual']['state']}}</state>
        </option>
        <option>
          <name>AProcessor</name>
          <state>{{iar_settings['AProcessor']['state']}}</state>
        </option>
        <option>
          <name>AFpuProcessor</name>
          <state>{{iar_settings['AFpuProcessor']['state']}}</state>
        </option>
        <option>
          <name>AOutputFile</name>
          <state>$FILE_BNAME$.o</state>
        </option>
        <option>
          <name>AMultibyteSupport</name>
          <state>{{iar_settings['AMultibyteSupport']['state']}}</state>
        </option>
        <option>
          <name>ALimitErrorsCheck</name>
          <state>{{iar_settings['ALimitErrorsCheck']['state']}}</state>
        </option>
        <option>
          <name>ALimitErrorsEdit</name>
          <state>{{iar_settings['ALimitErrorsEdit']['state']}}</state>
        </option>
        <option>
          <name>AIgnoreStdInclude</name>
          <state>{{iar_settings['AIgnoreStdInclude']['state']}}</state>
        </option>
        <option>
          <name>AUserIncludes</name>
          <state>{{iar_settings['AUserIncludes']['state']}}</state>
        </option>
        <option>
          <name>AExtraOptionsCheckV2</name>
          <state>{{iar_settings['AExtraOptionsCheckV2']['state']}}</state>
        </option>
        <option>
          <name>AExtraOptionsV2</name>
          <state>{{iar_settings['AExtraOptionsV2']['state']}}</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>OBJCOPY</name>
      <archiveVersion>0</archiveVersion>
      <data>
        <version>1</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>OOCOutputFormat</name>
          <version>0</version>
          <state>{{iar_settings['OOCOutputFormat']['state']}}</state>
        </option>
        <option>
          <name>OCOutputOverride</name>
          <state>{{iar_settings['OCOutputOverride']['state']}}</state>
        </option>
        <option>
          <name>OOCOutputFile</name>
          <state>{{name}}.bin</state>
        </option>
        <option>
          <name>OOCCommandLineProducer</name>
          <state>{{iar_settings['OOCCommandLineProducer']['state']}}</state>
        </option>
        <option>
          <name>OOCObjCopyEnable</name>
          <state>{{iar_settings['OOCObjCopyEnable']['state']}}</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>CUSTOM</name>
      <archiveVersion>3</archiveVersion>
      <data>
        <extensions></extensions>
        <cmdline></cmdline>
      </data>
    </settings>
    <settings>
      <name>BICOMP</name>
      <archiveVersion>0</archiveVersion>
      <data/>
    </settings>
    <settings>
      <name>BUILDACTION</name>
      <archiveVersion>1</archiveVersion>
      <data>
        <prebuild></prebuild>
        <postbuild></postbuild>
      </data>
    </settings>
    <settings>
      <name>ILINK</name>
      <archiveVersion>0</archiveVersion>
      <data>
        <version>14</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>IlinkOutputFile</name>
          <state></state>
        </option>
        <option>
          <name>IlinkLibIOConfig</name>
          <state>1</state>
        </option>
        <option>
          <name>XLinkMisraHandler</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkInputFileSlave</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkDebugInfoEnable</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkKeepSymbols</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinaryFile</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinarySymbol</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinarySegment</name>
          <state></state>
        </option>
        <option>
          <name>IlinkRawBinaryAlign</name>
          <state></state>
        </option>
        <option>
          <name>IlinkDefines</name>
          <state></state>
        </option>
        <option>
          <name>IlinkConfigDefines</name>
          <state></state>
        </option>
        <option>
          <name>IlinkMapFile</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogFile</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogInitialization</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogModule</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogSection</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogVeneer</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkIcfOverride</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkIcfFile</name>
          <state>{{linker_file}}</state>
        </option>
        <option>
          <name>IlinkIcfFileSlave</name>
          <state></state>
        </option>
        <option>
          <name>IlinkEnableRemarks</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkSuppressDiags</name>
          <state></state>
        </option>
        <option>
          <name>IlinkTreatAsRem</name>
          <state></state>
        </option>
        <option>
          <name>IlinkTreatAsWarn</name>
          <state></state>
        </option>
        <option>
          <name>IlinkTreatAsErr</name>
          <state></state>
        </option>
        <option>
          <name>IlinkWarningsAreErrors</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkUseExtraOptions</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkExtraOptions</name>
          <state></state>
        </option>
        <option>
          <name>IlinkLowLevelInterfaceSlave</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkAutoLibEnable</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkAdditionalLibs</name>
          <state> </state>
        {% for library in source_files_lib %}
          <state>{{library}}</state>
        {% endfor %}
        {% for object in object_files %}
          <state>{{object}}</state>
        {% endfor %}
        </option>
        <option>
          <name>IlinkOverrideProgramEntryLabel</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkProgramEntryLabelSelect</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkProgramEntryLabel</name>
          <state>__iar_program_start</state>
        </option>
        <option>
          <name>DoFill</name>
          <state>0</state>
        </option>
        <option>
          <name>FillerByte</name>
          <state>0xFF</state>
        </option>
        <option>
          <name>FillerStart</name>
          <state>0x0</state>
        </option>
        <option>
          <name>FillerEnd</name>
          <state>0x0</state>
        </option>
        <option>
          <name>CrcSize</name>
          <version>0</version>
          <state>1</state>
        </option>
        <option>
          <name>CrcAlign</name>
          <state>1</state>
        </option>
        <option>
          <name>CrcAlgo</name>
          <state>1</state>
        </option>
        <option>
          <name>CrcPoly</name>
          <state>0x11021</state>
        </option>
        <option>
          <name>CrcCompl</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>CrcBitOrder</name>
          <version>0</version>
          <state>0</state>
        </option>
        <option>
          <name>CrcInitialValue</name>
          <state>0x0</state>
        </option>
        <option>
          <name>DoCrc</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkBE8Slave</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkBufferedTerminalOutput</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkStdoutInterfaceSlave</name>
          <state>1</state>
        </option>
        <option>
          <name>CrcFullSize</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkIElfToolPostProcess</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogAutoLibSelect</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogRedirSymbols</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkLogUnusedFragments</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkCrcReverseByteOrder</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkCrcUseAsInput</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkOptInline</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkOptExceptionsAllow</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkOptExceptionsForce</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkCmsis</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkOptMergeDuplSections</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkOptUseVfe</name>
          <state>1</state>
        </option>
        <option>
          <name>IlinkOptForceVfe</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkStackAnalysisEnable</name>
          <state>0</state>
        </option>
        <option>
          <name>IlinkStackControlFile</name>
          <state></state>
        </option>
        <option>
          <name>IlinkStackCallGraphFile</name>
          <state></state>
        </option>
      </data>
    </settings>
    <settings>
      <name>IARCHIVE</name>
      <archiveVersion>0</archiveVersion>
      <data>
        <version>0</version>
        <wantNonLocal>1</wantNonLocal>
        <debug>1</debug>
        <option>
          <name>IarchiveInputs</name>
          <state></state>
        </option>
        <option>
          <name>IarchiveOverride</name>
          <state>0</state>
        </option>
        <option>
          <name>IarchiveOutput</name>
          <state>###Unitialized###</state>
        </option>
      </data>
    </settings>
    <settings>
      <name>BILINK</name>
      <archiveVersion>0</archiveVersion>
      <data/>
    </settings>
  </configuration>

  {% for group_name, files in groups.items() %}
  <group>
    <name>{{group_name}}</name>
    {% for file in files %}
      <file>
        <name>{{file}}</name>
      </file>
    {% endfor %}
  </group>
  {% endfor %}
</project>


