{% extends "makefile.tmpl" %}

{% block CC %}gcc{% endblock %}
{% block CXX %}g++{% endblock %}
{% block AS %}gcc{% endblock %}
{% block LD %}gcc{% endblock %}
{% block AR %}ar{% endblock %}
{% block CPP %}cpp{% endblock %}
{% block OBJCOPY %}objcopy{% endblock %}

{% block TOHEX %}-O ihex{% endblock %}
{% block TOBIN %}-O binary{% endblock %}

{% block TARGET_EXE_EXT %}.elf{% endblock %}

{% block COMMON_FLAGS %} -mcpu=$(CPU) -m$(INSTRUCTION_MODE) -MMD -MP $(CC_SYMBOLS) {% endblock %}
{% block LD_OPTIONS %} -mcpu=$(CPU) -m$(INSTRUCTION_MODE) -Wl,-Map=$(OBJ_FOLDER)$(TARGET).map,--cref -T$(LD_SCRIPT) {% endblock %}
{% block CPP_FLAGS %}-E{% endblock %}
{% block LD_CPP_FLAGS %}-x c -P{% endblock %}
{% block ASM_SYMBOLS %}$(CC_SYMBOLS){% endblock %}
