{
    "folders":
    [
        {% for paths in source_paths %}
        {
            "path":"{{rel_path_output}}{{paths}}"
        },
        {% endfor %}
    ],
    "build_systems":
    [
        {
            "name": "List",
            "cmd": ["ls"]
        }
    ]
}
