{#
# Copyright 2015
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}
{
    "folders":
    [
        {% for i in range(source_paths|length) %}
        {
            "path":"{{source_paths[i]}}"
        {% if i == source_paths|length-1 %}
        }
        {% else %}
        },
        {% endif %}
        {% endfor %}
    ],
    "build_systems":
    [
        {
            "name": "{{buildsys_name}}",
            "cmd": ["{{buildsys_cmd}}"]
        }
    ]
}
