<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="project_proj.xsd">
<!--
  This project was exported via the project generator.  More information https://github.com/0xc0170/project_generator
-->

  <SchemaVersion>1.1</SchemaVersion>

  <Header></Header>

  <Targets>
    <Target>
      <TargetName>{{name}}</TargetName>
      <ToolsetNumber>0x4</ToolsetNumber>
      <ToolsetName>ARM-ADS</ToolsetName>
      <TargetOption>
        <TargetCommonOption>
        <Device>{{TargetOption['Device']}}</Device>
          <Vendor>{{TargetOption['Vendor']}}</Vendor>
          <Cpu>{{TargetOption['Cpu']}}</Cpu>
          <FlashUtilSpec></FlashUtilSpec>
          <StartupFile></StartupFile>
          <FlashDriverDll>{{TargetOption['FlashDriverDll']}}</FlashDriverDll>
          <DeviceId>{{TargetOption['DeviceId']}}</DeviceId>
          <RegisterFile></RegisterFile>
          <MemoryEnv></MemoryEnv>
          <Cmp></Cmp>
          <Asm></Asm>
          <Linker></Linker>
          <OHString></OHString>
          <InfinionOptionDll></InfinionOptionDll>
          <SLE66CMisc></SLE66CMisc>
          <SLE66AMisc></SLE66AMisc>
          <SLE66LinkerMisc></SLE66LinkerMisc>
          <SFDFile>{{TargetOption['SFDFile']}}</SFDFile>
          <UseEnv>0</UseEnv>
          <BinPath></BinPath>
          <IncludePath></IncludePath>
          <LibPath></LibPath>
          <RegisterFilePath></RegisterFilePath>
          <DBRegisterFilePath></DBRegisterFilePath>
          <TargetStatus>
            <Error>0</Error>
            <ExitCodeStop>0</ExitCodeStop>
            <ButtonStop>0</ButtonStop>
            <NotGenerated>0</NotGenerated>
            <InvalidFlash>1</InvalidFlash>
          </TargetStatus>
          <OutputDirectory>{{output_dir}}</OutputDirectory>
          <OutputName>{{name}}</OutputName>
          <CreateExecutable>{% if output_type == 'exe' %}1{% else %}0{% endif %}</CreateExecutable>
          <CreateLib>{% if output_type == 'lib' %}1{% else %}0{% endif %}</CreateLib>
          <CreateHexFile>{% if output_type == 'exe' %}1{% else %}0{% endif %}</CreateHexFile>
          <DebugInformation>1</DebugInformation>
          <BrowseInformation>1</BrowseInformation>
          <ListingPath>{{output_dir}}</ListingPath>
          <HexFormatSelection>1</HexFormatSelection>
          <Merge32K>0</Merge32K>
          <CreateBatchFile>0</CreateBatchFile>
          <BeforeCompile>
            <RunUserProg1>{{TargetOption['BeforeCompile']['RunUserProg1']}}</RunUserProg1>
            <RunUserProg2>{{TargetOption['BeforeCompile']['RunUserProg2']}}</RunUserProg2>
            <UserProg1Name>{{TargetOption['BeforeCompile']['UserProg1Name'][0]}}</UserProg1Name>
            <UserProg2Name>{{TargetOption['BeforeCompile']['UserProg2Name'][0]}}</UserProg2Name>
            <UserProg1Dos16Mode>{{TargetOption['BeforeCompile']['UserProg1Dos16Mode']}}</UserProg1Dos16Mode>
            <UserProg2Dos16Mode>{{TargetOption['BeforeCompile']['UserProg2Dos16Mode']}}</UserProg2Dos16Mode>
            <nStopU1X>0</nStopU1X>
            <nStopU2X>0</nStopU2X>
          </BeforeCompile>
          <BeforeMake>
            <RunUserProg1>{{TargetOption['BeforeMake']['RunUserProg1']}}</RunUserProg1>
            <RunUserProg2>{{TargetOption['BeforeMake']['RunUserProg2']}}</RunUserProg2>
            <UserProg1Name>{{TargetOption['BeforeMake']['UserProg1Name'][0]}}</UserProg1Name>
            <UserProg2Name>{{TargetOption['BeforeMake']['UserProg2Name'][0]}}</UserProg2Name>
            <UserProg1Dos16Mode>{{TargetOption['BeforeMake']['UserProg1Dos16Mode']}}</UserProg1Dos16Mode>
            <UserProg2Dos16Mode>{{TargetOption['BeforeMake']['UserProg2Dos16Mode']}}</UserProg2Dos16Mode>
          </BeforeMake>
          <AfterMake>
            <RunUserProg1>{{TargetOption['AfterMake']['RunUserProg1']}}</RunUserProg1>
            <RunUserProg2>{{TargetOption['AfterMake']['RunUserProg2']}}</RunUserProg2>
            <UserProg1Name>{{TargetOption['AfterMake']['UserProg1Name'][0]}}</UserProg1Name>
            <UserProg2Name>{{TargetOption['AfterMake']['UserProg2Name'][0]}}</UserProg2Name>
            <UserProg1Dos16Mode>{{TargetOption['AfterMake']['UserProg1Dos16Mode']}}</UserProg1Dos16Mode>
            <UserProg2Dos16Mode>{{TargetOption['AfterMake']['UserProg2Dos16Mode']}}</UserProg2Dos16Mode>
          </AfterMake>
          <SelectedForBatchBuild>0</SelectedForBatchBuild>
          <SVCSIdString></SVCSIdString>
        </TargetCommonOption>
        <CommonProperty>
          <UseCPPCompiler>{{CommonProperty['UseCPPCompile'][0]}}</UseCPPCompiler>
          <RVCTCodeConst>{{CommonProperty['RVCTCodeConst'][0]}}</RVCTCodeConst>
          <RVCTZI>{{CommonProperty['RVCTZI'][0]}}</RVCTZI>
          <RVCTOtherData>{{CommonProperty['RVCTOtherData'][0]}}</RVCTOtherData>
          <ModuleSelection>{{CommonProperty['ModuleSelection'][0]}}</ModuleSelection>
          <IncludeInBuild>{{CommonProperty['IncludeInBuild'][0]}}</IncludeInBuild>
          <AlwaysBuild>{{CommonProperty['AlwaysBuild'][0]}}</AlwaysBuild>
          <GenerateAssemblyFile>{{CommonProperty['GenerateAssemblyFile'][0]}}</GenerateAssemblyFile>
          <AssembleAssemblyFile>{{CommonProperty['AssembleAssemblyFile'][0]}}</AssembleAssemblyFile>
          <PublicsOnly>{{CommonProperty['PublicsOnly'][0]}}</PublicsOnly>
          <StopOnExitCode>{{CommonProperty['StopOnExitCode'][0]}}</StopOnExitCode>
          <CustomArgument>{{CommonProperty['CustomArgument'][0]}}</CustomArgument>
          <IncludeLibraryModules>{{CommonProperty['IncludeLibraryModules'][0]}}</IncludeLibraryModules>
        </CommonProperty>
        <DllOption>
          <SimDllName>SARMCM3.DLL</SimDllName>
          <SimDllArguments></SimDllArguments>
          <SimDlgDll>DCM.DLL</SimDlgDll>
          <SimDlgDllArguments>-pCM4</SimDlgDllArguments>
          <TargetDllName>SARMCM3.DLL</TargetDllName>
          <TargetDllArguments>-MPU</TargetDllArguments>
          <TargetDlgDll>TCM.DLL</TargetDlgDll>
          <TargetDlgDllArguments>-pCM4</TargetDlgDllArguments>
        </DllOption>
        <DebugOption>
          <Simulator>
            <UseSimulator>{{DebugOption['Simulator']['UseSimulator'][0]}}</UseSimulator>
            <LoadApplicationAtStartup>{{DebugOption['Simulator']['LoadApplicationAtStartup'][0]}}</LoadApplicationAtStartup>
            <RunToMain>{{DebugOption['Simulator']['RunToMain'][0]}}</RunToMain>
            <RestoreBreakpoints>{{DebugOption['Simulator']['RestoreBreakpoints'][0]}}</RestoreBreakpoints>
            <RestoreWatchpoints>{{DebugOption['Simulator']['RestoreWatchpoints'][0]}}</RestoreWatchpoints>
            <RestoreMemoryDisplay>{{DebugOption['Simulator']['RestoreMemoryDisplay'][0]}}</RestoreMemoryDisplay>
            <RestoreFunctions>{{DebugOption['Simulator']['RestoreFunctions'][0]}}</RestoreFunctions>
            <RestoreToolbox>{{DebugOption['Simulator']['RestoreToolbox'][0]}}</RestoreToolbox>
            <LimitSpeedToRealTime>{{DebugOption['Simulator']['LimitSpeedToRealTime'][0]}}</LimitSpeedToRealTime>
          </Simulator>
          <Target>
            <UseTarget>{{DebugOption['Target']['UseTarget'][0]}}</UseTarget>
            <LoadApplicationAtStartup>{{DebugOption['Target']['LoadApplicationAtStartup'][0]}}</LoadApplicationAtStartup>
            <RunToMain>{{DebugOption['Target']['RunToMain'][0]}}</RunToMain>
            <RestoreBreakpoints>{{DebugOption['Target']['RestoreBreakpoints'][0]}}</RestoreBreakpoints>
            <RestoreWatchpoints>{{DebugOption['Target']['RestoreWatchpoints'][0]}}</RestoreWatchpoints>
            <RestoreMemoryDisplay>{{DebugOption['Target']['RestoreMemoryDisplay'][0]}}</RestoreMemoryDisplay>
            <RestoreFunctions>{{DebugOption['Target']['RestoreFunctions'][0]}}</RestoreFunctions>
            <RestoreToolbox>{{DebugOption['Target']['RestoreToolbox'][0]}}</RestoreToolbox>
          </Target>
          <RunDebugAfterBuild>{{DebugOption['RunDebugAfterBuild'][0]}}</RunDebugAfterBuild>
          <TargetSelection>{{DebugOption['TargetSelection'][0]}}</TargetSelection>
          <SimDlls>
            <CpuDll></CpuDll>
            <CpuDllArguments></CpuDllArguments>
            <PeripheralDll></PeripheralDll>
            <PeripheralDllArguments></PeripheralDllArguments>
            <InitializationFile></InitializationFile>
          </SimDlls>
          <TargetDlls>
            <CpuDll></CpuDll>
            <CpuDllArguments></CpuDllArguments>
            <PeripheralDll></PeripheralDll>
            <PeripheralDllArguments></PeripheralDllArguments>
            <InitializationFile></InitializationFile>
            <Driver>BIN\CMSIS_AGDI.dll</Driver>
          </TargetDlls>
        </DebugOption>
        <Utilities>
          <Flash1>
            <UseTargetDll>1</UseTargetDll>
            <UseExternalTool>0</UseExternalTool>
            <RunIndependent>0</RunIndependent>
            <UpdateFlashBeforeDebugging>1</UpdateFlashBeforeDebugging>
            <Capability>1</Capability>
            <DriverSelection>4105</DriverSelection>
          </Flash1>
          <Flash2>BIN\CMSIS_AGDI.dll</Flash2>
          <Flash3>"" ()</Flash3>
          <Flash4></Flash4>
        </Utilities>
        <TargetArmAds>
          <ArmAdsMisc>
            <GenerateListings>0</GenerateListings>
            <asHll>1</asHll>
            <asAsm>1</asAsm>
            <asMacX>1</asMacX>
            <asSyms>1</asSyms>
            <asFals>1</asFals>
            <asDbgD>1</asDbgD>
            <asForm>1</asForm>
            <ldLst>0</ldLst>
            <ldmm>1</ldmm>
            <ldXref>1</ldXref>
            <BigEnd>0</BigEnd>
            <AdsALst>1</AdsALst>
            <AdsACrf>1</AdsACrf>
            <AdsANop>0</AdsANop>
            <AdsANot>0</AdsANot>
            <AdsLLst>1</AdsLLst>
            <AdsLmap>1</AdsLmap>
            <AdsLcgr>1</AdsLcgr>
            <AdsLsym>1</AdsLsym>
            <AdsLszi>1</AdsLszi>
            <AdsLtoi>1</AdsLtoi>
            <AdsLsun>1</AdsLsun>
            <AdsLven>1</AdsLven>
            <AdsLsxf>1</AdsLsxf>
            <RvctClst>0</RvctClst>
            <GenPPlst>0</GenPPlst>
            <AdsCpuType>"Cortex-M4"</AdsCpuType>
            <RvctDeviceName></RvctDeviceName>
            <mOS>0</mOS>
            <uocRom>0</uocRom>
            <uocRam>0</uocRam>
            <hadIROM>1</hadIROM>
            <hadIRAM>1</hadIRAM>
            <hadXRAM>0</hadXRAM>
            <uocXRam>0</uocXRam>
            <RvdsVP>0</RvdsVP>
            <hadIRAM2>1</hadIRAM2>
            <hadIROM2>0</hadIROM2>
            <StupSel>8</StupSel>
            <useUlib>{{ArmAdsMisc['useUlib']}}</useUlib>
            <EndSel>0</EndSel>
            <uLtcg>0</uLtcg>
            <RoSelD>3</RoSelD>
            <RwSelD>3</RwSelD>
            <CodeSel>0</CodeSel>
            <OptFeed>0</OptFeed>
            <NoZi1>{{ArmAdsMisc['NoZi1']}}</NoZi1>
            <NoZi2>{{ArmAdsMisc['NoZi2']}}</NoZi2>
            <NoZi3>{{ArmAdsMisc['NoZi3']}}</NoZi3>
            <NoZi4>{{ArmAdsMisc['NoZi4']}}</NoZi4>
            <NoZi5>{{ArmAdsMisc['NoZi5']}}</NoZi5>
            <Ro1Chk>0</Ro1Chk>
            <Ro2Chk>0</Ro2Chk>
            <Ro3Chk>0</Ro3Chk>
            <Ir1Chk>1</Ir1Chk>
            <Ir2Chk>0</Ir2Chk>
            <Ra1Chk>0</Ra1Chk>
            <Ra2Chk>0</Ra2Chk>
            <Ra3Chk>0</Ra3Chk>
            <Im1Chk>1</Im1Chk>
            <Im2Chk>0</Im2Chk>
            <OnChipMemories>
              <Ocm1>
                <Type>0</Type>
                <StartAddress>0x0</StartAddress>
                <Size>0x0</Size>
              </Ocm1>
              <Ocm2>
                <Type>0</Type>
                <StartAddress>0x0</StartAddress>
                <Size>0x0</Size>
              </Ocm2>
              <Ocm3>
                <Type>0</Type>
                <StartAddress>0x0</StartAddress>
                <Size>0x0</Size>
              </Ocm3>
              <Ocm4>
                <Type>0</Type>
                <StartAddress>0x0</StartAddress>
                <Size>0x0</Size>
              </Ocm4>
              <Ocm5>
                <Type>0</Type>
                <StartAddress>0x0</StartAddress>
                <Size>0x0</Size>
              </Ocm5>
              <Ocm6>
                <Type>0</Type>
                <StartAddress>0x0</StartAddress>
                <Size>0x0</Size>
              </Ocm6>
              <IRAM>
                <Type>0</Type>
                <StartAddress></StartAddress>
                <Size></Size>
              </IRAM>
              <IROM>
                <Type>1</Type>
                <StartAddress>0x0</StartAddress>
                <Size></Size>
              </IROM>
              <XRAM>
                <Type>0</Type>
                <StartAddress>0x0</StartAddress>
                <Size>0x0</Size>
              </XRAM>
              <OCR_RVCT1>
                <Type>{{ArmAdsMisc['OCR_RVCT1']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT1']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT1']['Size'][0]}}</Size>
              </OCR_RVCT1>
              <OCR_RVCT2>
                <Type>{{ArmAdsMisc['OCR_RVCT2']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT2']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT2']['Size'][0]}}</Size>
              </OCR_RVCT2>
              <OCR_RVCT3>
                <Type>{{ArmAdsMisc['OCR_RVCT3']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT3']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT3']['Size'][0]}}</Size>
              </OCR_RVCT3>
              <OCR_RVCT4>
                <Type>{{ArmAdsMisc['OCR_RVCT4']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT4']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT4']['Size'][0]}}</Size>
              </OCR_RVCT4>
              <OCR_RVCT5>
                <Type>{{ArmAdsMisc['OCR_RVCT5']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT5']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT5']['Size'][0]}}</Size>
              </OCR_RVCT5>
              <OCR_RVCT6>
                <Type>{{ArmAdsMisc['OCR_RVCT6']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT6']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT6']['Size'][0]}}</Size>
              </OCR_RVCT6>
              <OCR_RVCT7>
                <Type>{{ArmAdsMisc['OCR_RVCT7']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT7']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT7']['Size'][0]}}</Size>
              </OCR_RVCT7>
              <OCR_RVCT8>
                <Type>{{ArmAdsMisc['OCR_RVCT8']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT8']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT8']['Size'][0]}}</Size>
              </OCR_RVCT8>
              <OCR_RVCT9>
                <Type>{{ArmAdsMisc['OCR_RVCT9']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT9']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT9']['Size'][0]}}</Size>
              </OCR_RVCT9>
              <OCR_RVCT10>
                <Type>{{ArmAdsMisc['OCR_RVCT10']['Type'][0]}}</Type>
                <StartAddress>{{ArmAdsMisc['OCR_RVCT10']['StartAddress']}}</StartAddress>
                <Size>{{ArmAdsMisc['OCR_RVCT10']['Size'][0]}}</Size>
              </OCR_RVCT10>
            </OnChipMemories>
            <RvctStartVector></RvctStartVector>
          </ArmAdsMisc>
          <Cads>
            <interw>{{Cads['interw']}}</interw>
            <Optim>{{Cads['Optim'][0]}}</Optim>
            <oTime>{{Cads['interw']}}</oTime>
            <SplitLS>{{Cads['SplitLS']}}</SplitLS>
            <OneElfS>{{Cads['OneElfS']}}</OneElfS>
            <Strict>{{Cads['Strict']}}</Strict>
            <EnumInt>{{Cads['EnumInt']}}</EnumInt>
            <PlainCh>{{Cads['PlainCh']}}</PlainCh>
            <Ropi>{{Cads['Ropi']}}</Ropi>
            <Rwpi>{{Cads['Rwpi']}}</Rwpi>
            <wLevel>{{Cads['wLevel']}}</wLevel>
            <uThumb>{{Cads['uThumb']}}</uThumb>
            <uSurpInc>{{Cads['uSurpInc']}}</uSurpInc>
            <uC99>{{Cads['uC99']}}</uC99>
            <VariousControls>
              <MiscControls>{% for f in Cads['MiscControls'] %}{{f}} {% endfor %}</MiscControls>
              <Define>{% for s in macros %} {{s}}, {% endfor %}</Define>
              <Undefine></Undefine>
              <IncludePath> {% for path in include_paths %} {{path}}; {% endfor %} </IncludePath>
            </VariousControls>
          </Cads>
          <Aads>
            <interw>{{Aads['interw']}}</interw>
            <Ropi>{{Aads['Ropi']}}</Ropi>
            <Rwpi>{{Aads['Rwpi']}}</Rwpi>
            <thumb>{{Aads['thumb']}}</thumb>
            <SplitLS>{{Aads['SplitLS']}}</SplitLS>
            <SwStkChk>{{Aads['SwStkChk']}}</SwStkChk>
            <NoWarn>{{Aads['NoWarn']}}</NoWarn>
            <uSurpInc>{{Aads['uSurpInc']}}</uSurpInc>
            <VariousControls>
              <MiscControls>{% for f in Aads['MiscControls'] %}{{f}} {% endfor %}</MiscControls>
              <Define>{% for s in macros %} {{s}}, {% endfor %}</Define>
              <Undefine></Undefine>
              <IncludePath>{% for path in Aads['IncludePath'] %} {{path}}; {% endfor %}</IncludePath>
            </VariousControls>
          </Aads>
          <LDads>
            <umfTarg>{{LDads['umfTarg']}}</umfTarg>
            <Ropi>{{LDads['Ropi']}}</Ropi>
            <Rwpi>{{LDads['Rwpi']}}</Rwpi>
            <noStLib>{{LDads['noStLib']}}</noStLib>
            <RepFail>{{LDads['RepFail']}}</RepFail>
            <useFile>{{LDads['useFile']}}</useFile>
            <TextAddressRange>{{LDads['TextAddressRange']}}</TextAddressRange>
            <DataAddressRange>{{LDads['DataAddressRange']}}</DataAddressRange>
            <ScatterFile>{{linker_file}}</ScatterFile>
            <IncludeLibs></IncludeLibs>
            <IncludeLibsPath></IncludeLibsPath>
            <Misc>{% for misc in LDads['Misc'] %} {{misc}} {% endfor %}</Misc>
            <LinkerInputFile></LinkerInputFile>
            <DisabledWarnings>{% for diswarn in LDads['DisabledWarnings'] %} {{diswarn}} {% endfor %}</DisabledWarnings>
          </LDads>
        </TargetArmAds>
      </TargetOption>
      <Groups>
        {% for group_name,files in groups.items() %}
        <Group>
          <GroupName>{{group_name}}</GroupName>
          <Files>
            {% if files %}
            {% for file in files %}
            <File>
              <FileName>{{file.name}}</FileName>
              <FileType>{{file.filetype}}</FileType>
              <FilePath>{{file.path}}</FilePath>
            </File>
            {% endfor %}
            {% endif %}
          </Files>
        </Group>
        {% endfor %}
      </Groups>
    </Target>
  </Targets>

</Project>
