<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <Filter Include="Source Files">
      <UniqueIdentifier>{08a26e93-524c-4982-a01c-c8d4f223d6be}</UniqueIdentifier>
      <Extensions>cpp;c;cc;cxx;asm;s</Extensions>
    </Filter>
    <Filter Include="Header Files">
      <UniqueIdentifier>{35c51339-ba9d-43c8-bd71-5f3199e89878}</UniqueIdentifier>
      <Extensions>h;hh;hpp;hxx;hm;inl;inc</Extensions>
    </Filter>
  </ItemGroup>
  {% for group_name,files in source_files_c.items() %} {% for file in files %}
  <ItemGroup>
    <ClCompile Include="{{file}}">
      <Filter>Source Files</Filter>
    </ClCompile>
  </ItemGroup>
  {% endfor %}{% endfor %}
  {% for group_name,files in source_files_cpp.items() %} {% for file in files %}
  <ItemGroup>
    <ClCompile Include="{{file}}">
      <Filter>Source Files</Filter>
    </ClCompile>
  </ItemGroup>
  {% endfor %}{% endfor %}
  {% for group_name,files in source_files_s.items() %} {% for file in files %}
  <ItemGroup>
    <ClCompile Include="{{file}}">
      <Filter>Source Files</Filter>
    </ClCompile>
  </ItemGroup>
  {% endfor %}{% endfor %}
  {% for group_name,files in include_files.items() %} {% for file in files %}
  <ItemGroup>
    <ClInclude  Include="{{file}}">
      <Filter>Include Files</Filter>
    </ClInclude >
  </ItemGroup>
  {% endfor %}{% endfor %}
</Project>
